<!-- Expedition Order -->
<div class="grid grid-cols-12 w-[99%]" (click)="pushHndle()">
  <div class="col-span-10">

    <!-- expedition  -->
    <div class="grid grid-cols-1 mb-2 bg-white m-1 rounded-xl">
      <div class="w-full grid grid-cols-12">
        <div class="px-2 py-1 col-span-3 text-white flex items-center justify-center" >
          <h1 class="font-semibold text-center text-black">Expedition Order</h1>
        </div>
        <div class="col-span-9 gap-2 px-1">
          <div class="grid grid-flow-col">
         <app-countdown-timer ></app-countdown-timer>
          </div>
        </div>
      </div>
    </div>
  
    <!-- commande -->
    <div class="col-span-4 bg-white mr-1 rounded-lg m-2" >
      <div class="m-2 flex justify-center ">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122" /></svg>        
          <h1 class="ml-3  font-semibold text-center flex justify-center items-center"> Commande</h1>
      </div> 
      <!-- tirage loop -->
      <div class="grid grid-cols-3">
     <app-command-item [pharName]="'med6'" [pharCode]="234" [tireurNumber]="7589" [controlerNumber]="75676" [inprimeTime]="444" />
      </div>
    </div>

    <!-- Taches -->
  <div class="grid grid-cols-12 gap-1 px-2">
      <!-- tirage tache -->
      <div class="col-span-4 bg-white mr-1 rounded-lg">
        <div class="m-2 flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg"   fill="none"   viewBox="0 0 24 24"  stroke-width="1.5" stroke="currentColor" class="w-6 h-6" ><path stroke-linecap="round" stroke-linejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" /> </svg>
            <h1 class="ml-3 font-semibold text-center flex justify-center items-center" >Tirage </h1>
        </div>
        <!-- tirage loop -->
        <app-tirage-item [qtt]=" 345" [ligne]="5555" [tireur]="'ddd'" />  
      </div>

      <div class="col-span-4" >
        <div class="flex flex-col gap-1">

          <!-- controle taches -->
          <div class="h-[50%] w-full border bg-white rounded-md ">
            <div class="m-2 flex justify-center">
              <svg xmlns="http://www.w3.org/2000/svg"   fill="none"    stroke-width="1.5"   stroke="currentColor" class="w-6 h-6"  ><path stroke-linecap="round"  stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"  /> </svg>
                <h1 class="ml-3 font-semibold text-center flex justify-center items-center"> Controle </h1>
            </div>
              <!-- controle loop -->
             <app-controle-item [controler]="'444'" [ligne]="765" [qtt]="434" />
          </div>

             <!-- emballage taches -->
          <div class="h-[50%] w-full border bg-white rounded-md ">
            <div class="m-2 flex justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M7.875 14.25l1.214 1.942a2.25 2.25 0 001.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 011.872 1.002l.164.246a2.25 2.25 0 001.872 1.002h2.092a2.25 2.25 0 001.872-1.002l.164-.246A2.25 2.25 0 0116.954 9h4.636M2.41 9a2.25 2.25 0 00-.16.832V12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 01.382-.632l3.285-3.832a2.25 2.25 0 011.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0021.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 002.25 2.25z" /> </svg>
                <h1 class="ml-3 font-semibold text-center flex justify-center items-center" > Emballage</h1>
            </div> 
               <!-- emballage loop -->
            <app-emballage-item [emballager]="'033'" [ligne]="345" [qtt]="409" />
          </div>

        </div>
      </div>
  </div>
  </div>

<!-- notification-container -->
  <div class="col-span-2">
    <div class="h-screen shadow">
      <!-- clock weather -->
      <div class="bg-[#5a9edb] rounded-lg mt-1">
        <app-clock></app-clock>
        <app-weather></app-weather>
      </div>
      <!-- good tirage -->
        <app-best-of-tirage-item [ligne]="465" [qtt]="757" [tireur]="'566'"></app-best-of-tirage-item>
      <!-- bad tirage -->
       <app-worst-of-tirage-item  [ligne]="465" [qtt]="757" [tireur]="'566'"></app-worst-of-tirage-item>
       <!-- bls no controle or tirage -->
      <div class="grid grid-cols-1 bg-white rounded-lg  h-[210px]">
        <div class="grid grid-cols-1 bg-[#d7d7d7] rounded-lg m-2 ">
          <div class="flex font-bold text-black h-[30px] justify-center mt-2">
            <h1 class="border-b-2 border-white">BL N-Tirage</h1>
          </div>
          <div class="flex justify-center items-center">
            <h1 class="animate-fade-down animate-once animate-duration-1000 animate-delay-[10ms] animate-ease-in-out text-purple-700 font-extrabold text-[30px]">
            item
            </h1>
          </div>
        </div>
        <div class="grid grid-cols-1 rounded-lg m-2 bg-[#d7d7d7] ">
          <div class="flex font-bold text-black h-[30px] justify-center mt-2">
            <h1 class="border-b-2 border-white">BL N-Controle</h1>
          </div>
          <div class="flex justify-center items-center">
            <h1 class="animate-fade-down animate-once animate-duration-1000 animate-delay-[10ms] animate-ease-in-out text-purple-900 font-extrabold text-[30px]" >
             item
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>



