<div class="grid grid-cols-1 mt-1">
    <div
      class="grid grid-cols-4 rounded-lg drop-shadow-sm bg-white mb-1 animate-fade-down animate-duration-[2200] animate-ease-in-out"
     
    >
      <div class="grid grid-cols">
        <h1 class="font-bold m-1 text-black drop-shadow-lg">QTT</h1>
        <h1 class="font-bold m-1 text-red-500">{{qtt}} </h1>
      </div>
      <div class="grid grid-cols">
        <h1 class="font-bold m-1 text-black drop-shadow-lg">TRR</h1>
        <h1 class="font-bold m-1 text-purple-800">{{tireur}}</h1>
      </div>
      <div class="grid grid-cols">
        <h1 class="font-bold m-1 text-black drop-shadow-lg">LN</h1>
        <h1 class="font-bold m-1 text-red-500 drop-shadow-md">{{ligne}}</h1>
      </div>
      <div class="flex items-center justify-center rounded-lg m-1 bg-red-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="White" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3" />
        </svg>
      
      </div>
    </div>
  </div>